.filterMenu {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 38px;
  max-width: 40.25rem;
  min-height: 3.81rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  gap: 1rem;
}

.filterMenu h4 {
  color: var(--blue-200);
  padding-left: 2rem;
  padding-right: 1.5rem;
  font-size: 0.8rem;
}

.filterMenu input {
  background: url(../assets/date_icon.svg) no-repeat scroll 20px 14px;
  background-color: var(--blue-100);
  color: var(--blue-400);
  border: none;
  border-radius: 38px;
  min-width: 13.375rem;
  min-height: 2.5625rem;
  padding-left: 2.5rem;
}

input::placeholder {
  color: var(--blue-400);
}