.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3rem 0;
}

.header h1 {
  color: var(--blue-800);
  padding-left: 2rem;
  padding-right: 1.5rem;
  font-size: 1.8rem;
}

.header h4 {
  color: var(--blue-200);
  padding-left: 2rem;
  padding-right: 1.5rem;
  font-size: 0.8rem;
}
