.sidebar {
  display: flex;
  flex-direction: column;
  background: var(--white);
  min-width: 16rem;
}

.sidebar .logo {
  padding: 1rem 2rem;
  max-width: 13.5625rem;
}

.sidebar .menuElement {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--gray-400);
  font-weight: bold;
}

.sidebar .menuElement span{
  padding-left: 1rem;
}

.sidebar .menuElement .focused {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sidebar .menuElement .focused span{
  padding-left: 1rem;
  color: var(--blue-800);
}

.sidebar .menuElement .focused img{
  align-self: flex-end;
}

