:root {
  --white: #fff;
  --white-smoke: rgba(255,255,255,0.7);
  --gray-100: #e1e1e6;
  --gray-200: #E9EDF7;
  --gray-300: #c4c4cc;
  --gray-400: #A3AED0;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-300: #65D4AC;
  --green-500: #05CD99 ;

  --red-300: #EC7A7A;
  --red-500: #CD0505;
  
  --blue-300: #7A85EC;
  --blue-800: #2B3674;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
